#index_banner{
    background-image: url(/img/slider.jpg);
    background-position: center;
    background-size: cover;
    // height: 100%;
    // min-height: 60vh;
//     width: 100%;
// }

.carousel-control-prev i {
    color: #6266ea ;
    font-size: 4rem;
    text-decoration: none;
}

.carousel-control-next i{
    color: #6266ea ;
    font-size: 4em;
    text-decoration: none;
}

// .carouselExampleIndicators {
//     background-color:#6266ea;
// }
