#service_h2{
    font-size: 40px;
    
}

.fa-gift{
    font-size: 25px;
}

.heading{
    font-size: 28px;
    // content: '';
    // // width: 150px;
    // display: block;
    // // position: absolute;
    // border-bottom: 5px solid #6266ea;
    // padding-top: 0.5em;
}

.service-wrapper .service-footer{
    min-width: 720px !important;
}

.bg-secondary{
    background-color: #6266ea !important;
}

 .card{
    border-radius: 10px !important;
    cursor: pointer;
}

.service-header i{
    position: relative;
    top: 28px;
}


